

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <%= render '/canonical_urls.*' %>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-spy="scroll" data-target="#doc-nav" data-offset="90">
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <section class="container-fluid">
      <div class="row">
        <div class="col-0 col-lg-2 pl-0">
          <div class="nav-wrapper active">
            <aside id="global-nav" class="global-nav">
            <% if ENV['CI_PROJECT_NAME'] == 'gitlab-docs' or ENV['CI_PROJECT_NAME'].nil? %>
              <%= render '/global_nav.*' %>
            <% end %>
            </aside>
            <div id="js-nav-toggle"></div>
          </div>
        </div>
        <div class="main wrapper js-main-wrapper col-12 col-lg-7">
          <div class="row">
            <div class="col">
              <div id="js-version-banner" <%= 'data-is-outdated' if show_version_banner? %> data-latest-version-url='<%= @item.identifier.without_ext + '.html' %>' data-archives-url="/archives/"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <% if @config[:show_banner] %>
              <div class="d-lg-block">
                <%= render '/banner.*' %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= render '/breadcrumbs.*' %>
            </div>
          </div>
          <div class="row d-lg-none">
            <div class="col">
              <div class="doc-nav"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <% if @item[:title] %>
                <h1 class="article-title" itemprop="name">
                  <%= @item[:title] %><%= @item[:title_badge] %>
                </h1>
              <% end %>      
              <div class="article-metadata">
                <% if @item[:author] and @item[:author_gitlab] %>
                Article written by <a href="https://gitlab.com/<%= @item[:author_gitlab] %>" target="_blank"><%= @item[:author] %></a>
                &#8226;
                <% end %>
                <% if @item[:date] %>
                on <%= @item[:date] %>
                &#8226;
                <% end %>
                <% if @item[:article_type] %>
                Type: <%= @item[:article_type] %>
                <% end %>
                <% if @item[:level] %>
                Level: <%= @item[:level] %>
                &#8226;
                <% end %>
                <% if @item[:last_updated] %>
                Last updated: <%= @item[:last_updated] %>
                &#8226;
                <% end %>
                <% if @item[:reading_time] %>
                <%= reading_time(item.raw_content.split.size) %> to read
                <% end %>
              </div>
              <div class="article-content js-article-content" role="main" itemscope itemprop="mainContentOfPage">
                <%= yield %>
              </div>
            </div>
          </div>
          <div class="row px-4">
            <div class="col">
              <%= render '/feedback.*' %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= render '/footer.*' %>
            </div>
          </div>
        </div>
        <div class="col-3 py-3 d-none d-lg-flex">
          <div id="doc-nav" class="doc-nav w-100"></div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="<%= @items['/assets/javascripts/toggle_popover.*'].path %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script type="application/javascript" src="<%= @items['/assets/javascripts/clipboardjs.*'].path %>"></script>
    <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
    <%= render '/docsearch.*' %>
    <script src="<%= @items['/assets/javascripts/mermaid.*'].path %>"></script>
    <% if production? %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <script src="<%= @items['/assets/javascripts/docs.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/global-nav.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/tables.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/default.*'].path %>" data-cookieconsent="ignore"></script>  
  </body>
</html>

